#projet  piloteVmc
#on suprime tout
/**

#on ajoute ce qu'on garde
#fichiers
!/.gitignore
!/README.md
!/LICENSE
!/todo.md

#dossiers
!/affichage
!/affichage/*
!/designSpark
!/designSpark/*
!/messagesPiloteVmcVersSql
!/messagesPiloteVmcVersSql/*
!/sql
!/sql/*
!/TeleinfoVmc
!/TeleinfoVmc/*
!/traitement
!/traitement/*

*/TeleinfoVmc/config_perso.php

