#projet  piloteVmc
#on suprime tout
/**
#on ajoute ce qu'on garde

!/.gitignore
!/README.md
!/LICENSE
!/todo.md


!/affichage
!/affichage/*
!/designSpark
!/designSpark/*
!/messagesPiloteVmcVersSql
!/messagesPiloteVmcVersSql/*
!/sql
!/sql/*
!/TeleinfoVmc
!/TeleinfoVmc/*
!/traitement
!/traitement/*
