#teleinfovmc
#tout ignoré
/**
#ajout dossiers
!/js
!/js/*
!/css
!/css/*
!/images
!/images/*
#ajout fichiers
!/.gitignore
!/*.html
!/*.js
!/*.xml
!/json.php
!/modele config_perso.php
!/queries.php
!/structure.ecodevice_tempo.php
!/structure.timestp.php
!/tarifs.php
!/teleinfo.php
!/config.php
!/*.md
!/*.zip
!/*.ico
!/*.json

