#projet  traitement C++ visual studio visual micro esp8266
#on suprime tout
/**
#on ajoute ce qu'on garde
!/.gitignore
!/README.md
!/*.cpp
!/*.h
!/*.ino
!/*.vcxproj
configWifi.h
#tout le dossier
!/prog_can_modifie
!/prog_can_modifie/*
!/esp8266-SNTPClock-master
!/esp8266-SNTPClock-master/*
#page web
!/data
!/data/**
